.profile-flex {
  display: flex;
  width: 90%;
  margin: 30px auto 30px;
}

.profile-nft-div {
  flex: 3;
  position: relative;
}

.profile-div {
  flex: 2;
  border-radius: 14px;
  background-color: #133b4c;
  text-align: center;
  height: max-content;
  padding-top: 30px;
  color: white;
}
.profile-back-filter {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile-div img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}

.red-div {
  border-radius: 14px;
  width: 80%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f37777;
}

.profile-about {
  margin: 40px auto;
  width: 80%;
}

.profile-flex .sidebar {
  flex: 2;
  padding: 20px 60px;
}

.profile-nft-div .card {
  width: 44% !important;
  /* flex-basis: 48%; */
}

.profile-nft-div .card img {
  height: 200px;
}

.card .custom-btn {
  width: 120px !important;
}

.profile-content .custom-btn {
  /* margin: 20px 40px 0; */
  background-color: #41c6ff;
}

.back-btn {
  width: 200px;
}

.profile-div .custom-btn {
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
  background-color: #41c6ff;
}

.profile-filters {
  margin-top: 30px;
  margin-bottom: 0;
}
.profile-filters a {
  width: 140px;
}

@media screen and (max-width: 1150px) {
  .profile-nft-div .card {
    width: 80% !important;
    margin: 40px auto;
    /* flex-basis: 48%; */
  }
  .profile-nft-div .card img {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .profile-nft-div .card {
    width: 100% !important;
    margin: 40px auto;
    flex-basis: 90%;
    /* flex-basis: 48%; */
  }
  .profile-nft-div .card img {
    height: 280px;
  }

  .profile-flex {
    display: block;
    width: 80%;
  }

  .profile-div {
    padding: 40px 10px;
  }
  .nft-collections {
    width: 100%;
    padding: 0;
  }

  .profile-nft-div {
    margin: 0 !important;
  }
  .profile-about {
    width: 80%;
    margin: 30px auto 20px;
  }
}

@media screen and (max-width: 500px) {
  .profile-content .custom-btn {
    width: 80%;
    margin: auto;
  }

  .profile-div h2 {
    margin-top: 20px;
  }
  .profile-filters {
    width: 100%;
    display: block;
  }

  .profile-content .filter-btn {
    margin-left: auto;
  }
}
