.properties-modal-content button {
  display: block;
  border: 2px solid #41c6ff;
  width: 80%;
  cursor: pointer !important;
  min-width: 200px;
  margin: 30px auto 10px !important ;
  padding: 12px 0px;
  border-radius: 55px;
  transition: all 0.25s ease-in;

  background-color: #40c6ff;
}

.properties-flex {
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;
}

.properties-row {
  width: 80%;
  margin: 20px auto;
}
.properties-flex p {
  color: white;
}

.properties-select {
  flex: 2;
}
.properties-type {
  flex: 1;
}
